.help-desk {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    height: 60vh;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .help-desk h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    
  }
  
  textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    text-align: center;
  }
  
  button {
    padding: 12px 24px;
    background-color: #7eb7f9;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.7;
  }
  