*{
    font-family: "poppins";
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.video-container .video {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.video-container .video video {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.video-container .video .description {
    flex-grow: 1;
    font-size: 18px;
}
.video {
    background-color: #eafbff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 900px;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 20px
}
.video video {
    width: 300px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px 0 0 5px;
}
.video .description {
    flex-grow: 1;
    padding: 10px;
}
.video h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
}
.video p {
    margin: 0;
    font-size: 16px;
    color: #888;
}
.dropbtn{
    padding-bottom: 5px ;
    margin-left: 4px ;
  
  }
  
  .plus-icon {
    display: inline-block;
    transform: translateY(-2px);
  }

.create-button .button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    /* Rest of your styles for the container */
}
/* Rest of your CSS code */

.create-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    margin-top: 80px;
    margin-left: 40px;
  }
  
