*{
    font-family: poppins;
}

.suggestions-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}

.suggestion {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #eafbff;
}

.suggestion h3 {
    margin: 0;
    font-size: 20px;
}

.suggestion p {
    margin-top: 5px;
    font-size: 16px;
    color: #888;
}
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.pagination a:hover {
    background-color: #f5f5f5;
}
.dropbtn{
    padding-bottom: 5px ;
    margin-left: 4px ;
  
  }
  .create-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    margin-top: 80px;
    margin-left: 40px;
  }
  .create-button .button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

